<div class="container">
   
    <p>  <button *ngIf="progress" style=" text-align: right;" class="btn btn-primary" type="button" > 
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="visually-hidden">Loading...</span>
      </button><strong> Current velocity </strong></p>
   
    <div class="  justify-content-center">
        <div class=" mx-5 spinner-grow text-danger" role="">
          </div><br>
          <span class="mx-5">25 +</span>
    </div>
</div>