<div class="container">
   
    <p>  <button *ngIf="progress" class="m-2 center btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="visually-hidden">Loading...</span>
    </button> <strong> Current Wether</strong></p>
    <div class="  justify-content-center">
        <div class=" mx-5 spinner-grow text-warning" role="">
          </div><br>
          <span class="mx-5">25 +</span>
    </div>
</div>